<ion-content class="login-background">
  <div class="login-container">

    <h2 class="login-title">Registrarse</h2>

    <div class="form-section">
      <ion-avatar class="avatar">
        <ion-icon name="person-outline"></ion-icon>
      </ion-avatar>

      <div class="form-fields">
        <ion-label position="stacked">Nombre Completo</ion-label>
        <ion-item lines="none">
          <ion-input [(ngModel)]="nomUsuario" required></ion-input>
        </ion-item>

        <!-- Campos opcionales que no se envían -->
        <ion-label position="stacked">Rut</ion-label>
        <ion-item lines="none">
          <ion-input></ion-input>
        </ion-item>

        <ion-label position="stacked">Región</ion-label>
        <ion-item lines="none">
          <ion-input></ion-input>
        </ion-item>

        <ion-label position="stacked">Comuna</ion-label>
        <ion-item lines="none">
          <ion-input></ion-input>
        </ion-item>

        <ion-label position="stacked">Correo Electrónico</ion-label>
        <ion-item lines="none">
          <ion-input type="email" [(ngModel)]="correo" required></ion-input>
        </ion-item>

        <ion-label position="stacked">Contraseña</ion-label>
        <ion-item lines="none">
          <ion-input type="password" [(ngModel)]="contrasena" required></ion-input>
        </ion-item>

        <ion-label position="stacked">Confirmar Contraseña</ion-label>
        <ion-item lines="none">
          <ion-input type="password" [(ngModel)]="confirmarContrasena" required></ion-input>
        </ion-item>

        <!-- Checkbox de términos -->
        <ion-item lines="none" class="checkbox-container">
          <ion-checkbox slot="start" [(ngModel)]="aceptaTerminos"></ion-checkbox>
          <ion-label style="color: #333333;">Aceptar Términos y condiciones</ion-label>
        </ion-item>
      </div>
    </div>

    <div class="button-row">
      <ion-button expand="block" color="success" class="login-button" (click)="registrarse()">
        INGRESAR
      </ion-button>
      <ion-button [routerLink]="['/tabs/tab4']" expand="block" color="medium" class="cancel-button">CANCELAR</ion-button>
    </div>

  </div>
</ion-content>
