
<ion-content class="login-background">
  <h2>Noticias</h2>

  <div class="noticias-grid">
  <ion-card *ngFor="let noticia of noticias" [href]="noticia.urlOrigen" target="_blank" rel="noopener">
      <img [src]="'assets/imgs/' + noticia.imgNoticia" alt="imagen noticia" />
      <ion-card-header>
        <ion-card-title>{{ noticia.titulo }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p><strong>{{ noticia.fuente }}</strong></p>
        <p>{{ noticia.resumen }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
